.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#page-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    margin-bottom: 30px;
}

/* Styles for the main menu */
#main-menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 2em;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

.menu-item {
    margin: auto;
}

/* .menu-item a:link, .menu-item footer a:visited { */
/*     text-align: center; */
/*     text-decoration: none; */
/*     display: inline-block; */
/*     color: black; */
/* } */

/* .menu-item a:hover, a:active { */
/*     background-color: black; */
/*     color: white; */
/* } */

#marquee {
    height: 40px;
    overflow: hidden;
    position: relative;
    background: black;
    color: white;
    margin-bottom: 30px;
}

#marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 40s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* Masonry layout for featured articles */
#features {
    column-count: 2;
    column-gap: 1em;
    margin-bottom: 30px;
}

/* Style for individual featured articles */
.feature-preview {
    display: inline-block;
    margin: 0 0 1em;
    border: 2px solid black;
    /* padding: 20px; */
}

.feature-preview header, footer {
    background: black;
    color: white;
}

.feature-preview header {
    font-size: 30px;
    padding: 20px;
}

.feature-preview footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.feature-preview footer a:link, .feature-preview footer a:visited {
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.feature-preview footer a:hover, a:active {
    background-color: white;
    color: black;
}

.feature-preview .text {
    padding: 20px;
}

/* Styles for the programming section */
#program {
    border: 2px solid black;
    margin-bottom: 40px;
}

.calendar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 2em;
    /* margin: auto; */
    padding-left: 2em;
    padding-right: 2em;
}

.event-preview {
    /* background-color: #eee; */
    border: 2px solid black;
    margin: 0 0 1em;
}

.event-preview header {
    background: black;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.event-preview .content {
    padding: 10px;
    font-size: 15px;
}

/* Full blown calendar */
#calendar-full {
    margin-bottom: 30px;
}

#calendar-full * {
    font-family: Verdana, sans-serif;
    list-style-type: none;
}

/* Month header */
#calendar-full .month {
    padding: 70px 25px;
    background: black;
    text-align: center;
}

#calendar-full .month ul {
    margin: 0;
    padding: 0;
}

#calendar-full .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#calendar-full .month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
#calendar-full .month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (mon - sun) */
#calendar-full .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ddd;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#calendar-full .weekdays .weekday {
    color: #666;
    text-align: center;
}

/* Days (1 - 31) */
#calendar-full .days {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #eee;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#calendar-full .days .day {
    text-align: center;
    margin-bottom: 5px;
    font-size: 13px;
    color: #777;
    padding-left: 10px;
    padding-right: 10px;
}

/* Center vertically the contents of days without events */
#calendar-full .days .empty {
    position: relative;
}

#calendar-full .days .empty span {
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
}

#calendar-full .days .day .event-snapshot {
    border: 1px solid black;
}


/* Footer styles */
#page-footer {
    background-color: white;
    color: black;
}

#contacts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3em;
    /* margin: auto; */
    /* width: 80%; */
    margin-bottom: 30px;
    /* border: 2px solid black; */
    padding: 15px;
}

.contact {
    /* background-color: #eee; */
    /* margin: 0 0 1em; */
    /* padding: 10px; */
    font-size: 15px;
    /* width: 80%; */

}

#fpu-dedication {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 4em;
    padding: 15px;
}

#copyright {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2em;
    border: 2px solid black;
    padding: 20px;

    /* margin: auto; */
    /* width: 80%; */
}

.copy-item {
    /* background-color: #eee; */
    /* margin: 0 0 1em; */
    /* padding: 5px; */
}

/* Styling the article */
.article-detail {
    border: 2px solid black;
    margin-bottom: 40px;
}

.article-detail header {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    padding: 20px;
}

.article-detail section {
    padding: 20px;
}

/* Style for festivals page */
/* Masonry layout for featured articles */
#festivals {
    column-count: 2;
    column-gap: 1em;
    margin-bottom: 30px;
}

/* Style for individual featured articles */
.festival-preview {
    display: inline-block;
    margin: 0 0 1em;
    border: 2px solid black;
    /* padding: 20px; */
}

.festival-preview footer {
    background: black;
    color: white;
}

.festival-preview header {
    font-size: 30px;
    padding: 20px;
}

.festival-preview footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.festival-preview footer a:link, .festival-preview footer a:visited {
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.festival-preview footer a:hover, a:active {
    background-color: white;
    color: black;
}

.festival-preview .text {
    padding: 20px;
}

.festival-preview .media {
    padding: 20px
}

/* Styles for galleries */
#albums {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
}

.album {
    text-align: center;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.album:link, .album:visited {
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
}

.album:hover, .album:active {
    background-color: white;
    color: black;
}

/* Style for about page */
#about {
    border: 2px solid black;
    margin-bottom: 30px;
}

#about p, #about h2, #about h3 {
    padding-left: 20px;
    padding-right: 20px;
}

#about footer {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

#about footer a:link, #about footer a:visited {
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

#about footer a:hover, a:active {
    background-color: white;
    color: black;
}
